body {
    background-color: #f1f1f1;
}

.u-main-content {
    padding: 0px 40px 0 300px;
    height: 100vh;
    overflow-y: scroll;
}
.twseg-d {
    display: flex;
    flex-direction: row;
}
.twseg-d > section {
    height: fit-content;
}
.u-main-content section.sect-b {
    color: #2c2c2c;
    font-family: 'Pt Sans';
    box-shadow: 0 0 5px 0px #54505c07;
}
.u-mheader {
    padding-top: 20px;
    color: #6C4AB6;
    font-family: 'Rubik';
}
.u-summary {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-between;
}
.u-sum-row {
    position: relative;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    margin-right: 10px;
}
.usr-ico, .usr-det {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.usr-ico {
    right: 40px;
    color: #6C4AB6;
}
.usr-det {
    font-family: 'Poppins';
    left: 40px;
}
.usr-val {
    font-size: x-large;
    font-weight: bold;
    color: #6C4AB6;
}
.usr-t {
    color: #5a5a5a;
    font-size: small;
}
.u-sum-row:last-child { margin-right: 0; }
.u-data-diagram {
    background-color: white;
    border-radius: 20px;
    position: relative;
}
.sect-b > main {
    padding: 10px 40px 40px 40px;
}
.sect-b-head {
    font-family: 'Poppins';
}
#uag-1 {
    width: 40%;
    margin-right: 20px;
}
#uag-1 .u-dd-barchart {
    width: 100%;
}
#uag-2 {
    width: 100%;
}
.u-main-content::-webkit-scrollbar {
    width: 14px;
}
.u-main-content::-webkit-scrollbar-track {
    background: transparent;
}
.u-main-content::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #6C4AB6;
}
.u-main-content::-webkit-scrollbar-thumb:hover {
    background: #8862da;
}