.nav-container {
    background-color: white;
    position: fixed;
    width: 100vw;
    z-index: 10;
    padding: 12px;
}
.nav-row {
    display: inline-block;
}
.nav-row button::before {
    content: "";
    background-color: #e5dff100;
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    z-index: -1;
    transition: .2s;
}
.nav-reg-btn {
    padding: 10px;
    font-size: large;
    font-family: 'PT sans';
    font-weight: bold;
    border: none;
    border-radius: 6px;
    margin: 0 5px;
}
.nav-menu > .nav-row button {
    color: #6C4AB6;
    width: 100px;
    background-color: transparent;
    position: relative;
}
.nav-menu > .nav-row button:hover::before {
    width: 100%;
    background-color: #e5dff1;
}
.nav-user {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}
.nav-user .nav-row button {
    width: 100px;
    transition: .2s;
}
.nav-user .nav-row button:hover {
    transform: scale(1.05);
}
.nav-user > .nav-row:first-child button {
    background-color: #6C4AB6;
    color: white;
}
.nav-user > .nav-row:last-child button {
    background-color: #dedae7;
    color: rgb(67, 64, 71);
}